.quizzes-img {
    background-image: url("gallery/quiz_hero.png");
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

body{

    background-color: dimgrey;
}

.result{
    font-weight: bold;
    font-size: 15px;

}

.container1{
    float: left;
}


.container2{
    float: right;
}

/*
.animated-gif{

    width: 20px;
    height: 20px;
    position: absolute;
    left: 30%;
    top: 30%;

}
*/
